* {
    margin: 0;
    padding: 0;
}
button {
    padding: 10pt;
    border: none;
    border-radius: 5pt;
    cursor:pointer;
}

h1 {
    margin: 10pt;
}

#container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.square {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
}
.square:hover {
    border-radius: 5pt;
}

.field {
    display: flex;
    flex-direction: column;
    width: 90%;
    aspect-ratio: 1 / 1 ;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5pt;
    background-color: rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    flex: 1;
}

.controls {
    width: 90%;
    margin: 30pt;
    display: flex;
    justify-content: space-around;
}